tr{
    border-top-width: 2px; 
    border-top-color:grey ;
}
#tab,h2{
    margin: auto;
    width: 34%;
    display: flex;
    flex-flow: column;
}
#btnDelete{
    width: 20%;
    margin-left: 80%;
}
td{
    text-align: center;
}
#searchdiv, #addProduct, #bill, #inventory, #rating{
    margin: auto;
    width: 32%;
    padding-top: 2%;
}
#table2{
    margin: auto;
    width: 30%;
    text-align: center;
}
#addProduct{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: auto;

}
#billtable{
    width: 100%;
}
/**hngc